/* === IMPORTS ===*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');

/* === FUENTE === */
body,
input,
button,
select,
textarea {
  font-family: 'Poppins', sans-serif;
}

/* === PALETA DE COLORES === */
:root {
  /* SYSTEM */
  --bg-main: #f9f9f9;
  --bg-success: #a5dc86;
  --bg-warning: #f8bb86;
  --bg-danger: #f27474;
  --bg-unread: #fff;
  --bg-read: #f8f9fa;

  --bg-blue-100: #021527;
  --bg-blue-200: #090244;
  --bg-blue-400: #03195b;
  --bg-blue-500: #002e5d;
  --bg-blue-700: #075797;
  --bg-blue-800: #276ba5;
  --bg-blue-900: #ccd7e9;
  --bg-red-500: #e31e24;

  /* GRAYSCALE */
  --bg-black: #000;
  --bg-gray-200: #1a1a1a;
  --bg-gray-400: #333;
  --bg-gray-600: #707070;
  --bg-gray-700: #9f9f9f;
  --bg-gray-800: #ededed;
  --bg-gray-900: #f8f9fb;

  /* BUTTONS */
  --bg-button-view: #ccd7e9;
  --bg-button-edit: #60aabc;
  --bg-button-delete: #db5e68;
  --bg-button-primary: #075797;
  --bg-button-secondary: #cdcdcd;

  /* BUTTON HOVER */
  --bg-view-hover: #ccd7e9;
  --bg-edit-hover: #60aabc;
  --bg-delete-hover: #db5e68;
  --bg-primary-hover: #075797;
  --bg-secondary-hover: #cdcdcd;

  /* BUTTON ACTIVE */
  --bg-view-active: #ccd7e9;
  --bg-edit-active: #60aabc;
  --bg-delete-active: #db5e68;
  --bg-primary-active: #075797;
  --bg-secondary-active: #cdcdcd;

  /* BUTTON DISABLED */
  --bg-view-disabled: #ccd7e9;
  --bg-edit-disabled: #60aabc;
  --bg-delete-disabled: #db5e68;
  --bg-primary-disabled: #075797;
  --bg-secondary-disabled: #cdcdcd;


}

.btn-rounded-circle {
  border-radius: 50% !important;
}

Button {
  border-radius: 5px;
}

.p-button-text {
  margin-inline: 0.5rem;
}

.bg-main {
  background-color: var(--bg-gray-800);
}

.bg-blue-500 {
  background-color: var(--bg-blue-500);
}

.bg-gray-800 {
  background-color: var(--bg-gray-800);
}

.text-blue-800 {
  color: var(--bg-blue-800);
}

.text-blue-500 {
  color: var(--bg-blue-500);
}

.text-gray-600 {
  color: var(--bg-gray-600);
}

.button-blue-800 {
  background: var(--bg-blue-800);
  transition: filter .15s ease, box-shadow .15s ease;
}

.button-blue-800:hover {
  filter: brightness(.9);
}

.button-blue-800:active {
  filter: brightness(.7);
}

.button-blue-800:focus {
  outline: 3px solid var(--bg-blue-800) !important;
  outline-offset: 3px;
}

.sidebar-btn {
  background-color: #fff;
  color: var(--bg-gray-600);
  border: none;
  border-radius: 0 5rem 5rem 0;
  transition: 0.2s;
}

.sidebar-btn:hover {
  background-color: var(--bg-blue-500);
  color: #fff;
  border-radius: 0 15rem 15rem 0;
  transition: 0.2s;
}

.title-icon {
  background-color: var(--bg-blue-900);
  color: var(--bg-blue-500)
}

.icon-average-down {
  background-color: #F8D3D3;
  color: #F27474;
}

.icon-average-up {
  background-color: #D3ECD0;
  color: #4FB446;
}

.hovereable:hover {
  box-shadow: 0 0px 0.5rem rgba(0, 0, 0, 0.2) !important;
  transition: box-shadow 0.2s ease-in-out;
  cursor: pointer;
}

/* Anular margin/padding/decoration SOLO en menús de PrimeReact */
.p-menu-list {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
}

.p-menuitem,
.p-menuitem .p-menuitem-link {
  text-decoration: none !important;
}